body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    margin: 0 10vw;
    background-color: #f0f0f0;
}

.main-container {
    display: grid;
    grid-template-columns: 15% 85%;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.header img {
    width: 100px;
    height: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 1em;
}

.meme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.meme-image {
    width: 50vw;
    height: 50vh;
    object-fit: contain;
    box-shadow: 8px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn {
    font-size: 2em;
    padding: 0.5em;
    border-radius: 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 8px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.youtube-video {
    width: 50vw;
    height: 50vh;
    object-fit: contain;
    box-shadow: 8px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.memes-container-parent {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.meme-caption {
    text-align: center;
    font-size: 1.1em;
    font-weight: semi-bold;
    color: black;
}

/* General */
.underline-text {
    text-decoration: underline;
}